.App {
    margin-top: 2rem;
    margin-left: 2rem;
    width: 90vw;
    display: grid;
    grid-template-columns: 200px auto;
    grid-row-gap: 10px;
    grid-column-gap: 30px;
    grid-template-areas: "jig_list main" "footer footer";
}



.main {
    /*background: rgba(255, 0, 0, 0.5);*/
    height: 820px;
    /*width: 300px;*/
    grid-area: main;
    display: grid;
    grid-template-rows: 5rem 15rem;
    grid-template-columns: 15rem 15rem auto auto auto auto;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    grid-template-areas: "action action . . . ."
    "tj ts tc tc . ."
    "product ts tc tc . .";
}

/*.action {*/
    /*background: #F5F9FE;*/
    /*border: 2px solid black;*/
    /*grid-area: action;*/
    /*text-align: center;*/
    /*border-radius: 5px;*/
    /*min-width: 30rem;*/
/*}*/

.tj {
    grid-area: tj;
    background: #2E83D9;
    text-align: center;
    border-radius: 5px;
}

.ts {
    grid-area: ts;
    background: #E7D5D5;
    text-align: center;
    border-radius: 5px;
}

.tc {
    grid-area: tc;
    background: #E7D5D5;
    text-align: center;
    border-radius: 5px;
}

.product {
    grid-area: product;
    background: #5BD1D1;
    text-align: center;
    border-radius: 5px;
}

.jig_list {
    /*background: rgba(0, 4, 255, 0.5);*/
    height: 820px;
    /*box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);*/
    width: 200px;
    grid-area: jig_list;
    text-align: center;
    border-radius: 5px;
    display: grid;
    grid-auto-rows: 50px;
    grid-row-gap: 10px;
    overflow-y: scroll;
    justify-items: center;
    align-items: center;
    padding: 10px;
}

.test_jig {
    margin: 0;
    width: 150px;
    height: 50px;
    background-color: #5BD167;
    border-radius: 5px;
    color: white;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    background-color: #AAA;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(90deg,
    rgba(0, 0, 0, .2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(0, 0, 0, .2) 50%,
    rgba(0, 0, 0, .2) 75%,
    transparent 75%,
    transparent)
}