.App {
    margin-top: 2rem;
    margin-left: 2rem;
    width: 90vw;
    display: grid;
    grid-template-columns: 200px auto;
    grid-row-gap: 10px;
    grid-column-gap: 30px;
    grid-template-areas: "jig_list main" "footer footer";
}



.main {
    /*background: rgba(255, 0, 0, 0.5);*/
    height: 820px;
    /*width: 300px;*/
    grid-area: main;
    display: grid;
    grid-template-rows: 5rem 15rem;
    grid-template-columns: repeat(6, auto);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    grid-template-areas: "action action action . . ."
    "tj tj ts tc tc tc"
    "product product ts tc tc tc";
}

.action {
    background: #f3a7fe;
    height: 5rem;
    grid-area: action;
    text-align: center;
    border-radius: 5px;
    min-width: 30rem;
}

.tj {
    grid-area: tj;
    background: #2E83D9;
    text-align: center;
    border-radius: 5px;
}

.ts {
    grid-area: ts;
    background: #E7D5D5;
    text-align: center;
    border-radius: 5px;
}

.tc {
    grid-area: tc;
    background: #E7D5D5;
    text-align: center;
    border-radius: 5px;
}

.product {
    grid-area: product;
    background: #5BD1D1;
    text-align: center;
    border-radius: 5px;
}

.jig_list {
    /*background: rgba(0, 4, 255, 0.5);*/
    height: 820px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    width: 200px;
    grid-area: jig_list;
    text-align: center;
    border-radius: 5px;
    display: grid;
    grid-auto-rows: 50px;
    grid-row-gap: 10px;
    overflow: scroll;
    justify-items: center;
    align-items: center;
    padding: 10px;
}

.test_jig {
    margin: 0;
    width: 150px;
    height: 50px;
    background-color: #5BD167;
    border-radius: 5px;
    color: white;
}

