html {
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  display: grid;
  margin: 0;
  padding: 0;
  height: 100%;
  grid-template-rows: 3.5rem auto 8rem;
  grid-template-areas: "header" "app" "footer";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  display: flex;
  height: 3.5rem;
  background: #4B79D2;
  grid-area: header;
  justify-content: flex-end;
}

.header-nav__items {
  list-style: none;
  display: flex;
}

.header-nav__item {
  margin: 0 1rem;
}

.header-nav__item a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.header-nav__item:hover {
  border-bottom: 5px solid white;
}

.footer {
  height: 8rem;
  color: white;
  background: black;
  grid-area: footer;
  text-align: center;
  border-radius: 5px;
}